In [3]:
import pandas as pd
data = "data/vine_table.csv"
df = pd.read_csv(data)
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [25]:
df.loc[df["vine"] == 'Y'].count()

review_id            895
star_rating          895
helpful_votes        895
total_votes          895
vine                 895
verified_purchase    895
dtype: int64

In [26]:
df.loc[df["vine"] == 'N'].count()

review_id            4366021
star_rating          4366021
helpful_votes        4366021
total_votes          4366021
vine                 4366021
verified_purchase    4366021
dtype: int64

In [29]:
df.loc[(df["vine"] =='Y') &(df["star_rating"] == 5)].count()

review_id            462
star_rating          462
helpful_votes        462
total_votes          462
vine                 462
verified_purchase    462
dtype: int64

In [31]:
df.loc[(df["vine"] == 'N') & (df["star_rating"] == 5)].count()

review_id            2639473
star_rating          2639473
helpful_votes        2639473
total_votes          2639473
vine                 2639473
verified_purchase    2639473
dtype: int64

In [4]:
more_than_20 = df.loc[df["total_votes"] >= 20]

In [6]:
more_than_20.head(15)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
2069,R2VP11C28JAEZF,5,30,30,N,Y
2256,R1TXGR1HA2M3P3,5,28,29,N,Y
2386,R6OD85TMEMHQQ,5,28,28,N,Y
3073,R1G4PAJXP3FTN7,2,43,51,N,Y
3329,R2P2S8UGUMCOLX,5,21,22,N,Y
3698,RBTQKXGJ9RP7C,1,33,33,N,Y
3842,R342L93CXGDZO5,2,73,76,N,Y
3894,R31Z97KFD4HMNF,3,23,26,N,Y
3927,R2NDB7EQLYK87A,5,44,46,N,Y
4143,R1C0W0OSBCVXC2,1,45,46,N,Y

In [9]:
more_than_20.count()

review_id            27884
star_rating          27884
helpful_votes        27884
total_votes          27884
vine                 27884
verified_purchase    27884
dtype: int64

In [11]:
step2 = more_than_20.loc[df["helpful_votes"] / df["total_votes"] >= 0.5]

In [12]:
step2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [13]:
step2.count()

review_id            27009
star_rating          27009
helpful_votes        27009
total_votes          27009
vine                 27009
verified_purchase    27009
dtype: int64

In [18]:
step3Y = step2.loc[df["vine"] == 'Y']

In [19]:
step3Y.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270349,R2N45ZKRRZS856,5,21,22,Y,N
306676,R5OMLMK13A8NS,5,34,38,Y,N
1050160,R2MPEQ4SPTEQNS,4,180,184,Y,N
1224726,RIR0D3KJ0CQ31,4,21,21,Y,N
1231743,R1SPWJDHUWWC5E,5,88,98,Y,N

In [20]:
step3Y.count()

review_id            22
star_rating          22
helpful_votes        22
total_votes          22
vine                 22
verified_purchase    22
dtype: int64

In [21]:
step3N = step2.loc[df["vine"] == 'N']

In [22]:
step3N.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [23]:
step3N.count()

review_id            26987
star_rating          26987
helpful_votes        26987
total_votes          26987
vine                 26987
verified_purchase    26987
dtype: int64